.root {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 80px;
  position: relative;
}
.width{
  width: 360px;
}
.textBlock {
  max-width: 585px;
  padding-top: 40px;
}

.title {
  color: rgba(0, 0, 0, 1);
  font-size: 55px;
  font-weight: 500;
  line-height: 65px;  
}

.subtitle {
color: rgba(0, 0, 0, 1);
font-size: 20px;
font-weight: 400;
line-height: 23px;
text-align: right;
padding: 45px 0 52px;
}

.button {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 154px;
}

.buttonImage img {
  width: 20px;
  height: 20px;
}

.btn {
  background: var(--CTA, rgba(110, 156, 159, 1));
  color: #fff;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background-color: #2a4d50;
  }
}

/* Правая часть */
.imageBlock {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-left: 40px;
}

/* Бежевый прямоугольник */
.bg {
  position: absolute;
  top: -222px; // чтобы заходил под Header
  right: -370px;
  width: 730px;
  height: 760px;
  background-color: #f1e4de;
  z-index: -1;
}

/* Основная большая картинка */
.mainImg {
  width: 330px;
  height: auto;
  object-fit: cover;
  position: relative;
  z-index: 1;
}

/* Левая маленькая */
.leftImg {
  position: absolute;
  bottom: -40px;
  left: 150px;
  width: 180px;
  height: auto;
  z-index: 2;
}

/* Правая маленькая */
.rightImg {
  position: absolute;
  top: 40px;
  right: -60px;
  width: 160px;
  height: auto;
  z-index: 2;
}
