.cards{
  display: flex;
  gap: 30px;
  cursor: pointer;
  margin-bottom: 65px;
}

.image{
width: 350px;
height: 558px;
}

.main{
  margin-top: 200px;
}

.title{
  color: rgba(0, 0, 0, 1);
  font-size: 40px;
  font-weight: 500;
  line-height: 47px;
  padding: 0 0 92px 0;
}

.name{
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  text-align: center;
  padding: 24px 0 10px;
}

.price{
  color: rgb(175, 174, 174);
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
}

.btn{
  color: var(--CTA, rgba(110, 156, 159, 1));
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  padding: 22px 50px;
  border: 1px solid var(--CTA, rgba(110, 156, 159, 1));
  cursor: pointer;
  background-color: transparent;
  margin: 0 auto;
  display: block;
}